<div align="right">
	<%= will_paginate @causes, :prev_label => "Poprzednia", :next_label => "Następna" %>
</div>	
<table class="table-list" id="table-causes">
	<tr>
		<th style="width:100px;"><%= cause_sortable 'title', "Tytuł" %></th>
		<th style="width:100px;"><%= cause_sortable 'city', "Miasto" %></th>
		<th style="width:100px;"><%= cause_sortable 'district', "Dzielnica" %></th>
		<th style="width:100px;"><%= cause_sortable 'local', "Adres" %></th>
		<th style="width:100px;">Budżet</th>
		<th style="width:100px;"><%= cause_sortable 'categories.name', "Kategoria" %></th>
		<th style="width:100px;"><%= cause_sortable 'total_cost', "Koszt wdrożenia" %></th>
		<th style="width:100px;"><%= cause_sortable 'upkeep_cost', "Koszt utrzymania" %></th>
		<th style="width:100px;">Odrzucony</th>
		<th style="width:100px;">Użytkownik</th>
		<th style="width:90px;">Akcje</th>
	</tr>
	<% @causes.each do |cause| %>
		<tr id="cause-<%= cause.id %>">
			<td><%=h cause.title %></td>
			<td><%=h cause.city %></td>
			<td><%=h cause.district %></td>
			<td><%=h cause.local %></td>
			<td><%=h cause.budget.name %></td>
			<td><%=h cause.category.name %></td>
			<td><%= cause.total_cost %></td>
			<td><%= cause.upkeep_cost %></td>
			<td><%= cause.is_rejected ? 'Tak' : 'Nie' %></td>
			<td><%=h cause.user.name %></td>
			<td>
				<%= link_to "<span>Zobacz na mapie</span>", cause.url, :class => "button button-normal", :target => "_blank" %>
			
				<% if current_user.level > 1 -%>
					<% if cause.is_rejected %>
						<%= link_to '<span data-step="6" data-intro="Zaakceptuj projekt.">Akceptuj</span>', "/admin/accept_cause/#{cause.id}", :class => "button button-normal" %>
					<% else -%>
						<%= link_to '<span data-step="7" data-intro="Przenieś do projektów odrzuconych.">Odrzuć</span>', "/admin/reject_cause/#{cause.id}", :class => "button button-normal" %>
					<% end -%>
					<%= link_to "<span>Aktualizuje polubienia</span>", "/admin/update_cause_likes/#{cause.id}", :class => "button button-normal" %>
					<%= link_to '<span data-step="8" data-intro="Edytuj informacje na temat projektu.">Edycja</span>', edit_cause_path(cause), :class => "button button-normal" %>
				<% end -%>																			
			</td>						
		</tr>
	
	<% end %>					
</table>

<br />
<div align="right">
	<%= will_paginate @causes, :prev_label => "Poprzednia", :next_label => "Następna" %>
</div>
