<style>
  #map-canvas {
    height: 300px;
    width: 650px;
    margin: 0px;
    padding: 0px
  }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQep6HRmd4ZZmNQ0U4gFTxH9sdV5WtbHw">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 51.500, lng: 19.000},
      zoom: 6
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    google.maps.event.addListener(map, 'click', function(event) {
      $('#cause_latitude').val(event.latLng.lat());
      $('#cause_longitude').val(event.latLng.lng());
    });      
  };
  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<h1>Edycja Projektu</h1>

<% form_for(@cause, :url => update_cause_path(@cause)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Tytuł' %><br />
    <%= f.text_area :title, {:cols => 80, :rows => 5} %>
  </p>

  <p>
    <%= f.label 'Opis' %><br />
    <%= f.text_area :abstract, {:cols => 80, :rows => 8} %>
  </p>

  <div id="map-canvas"></div>

  <p>
    <%= f.label 'Szerokość' %><br />
    <%= f.text_field :latitude %>
  </p>

  <p>
    <%= f.label 'Długość' %><br />
    <%= f.text_field :longitude %>
  </p>

  <p>
    <%= f.label 'Adres' %><br />
    <%= f.text_area :local, {:cols => 80, :rows => 3} %>
  </p>

  <p>
    <%= f.label 'Dzielnica' %><br />
    <%= f.text_field :district %>
  </p>  

  <p>
    <%= f.label 'Odrzucony' %><br />
    <%= f.check_box :is_rejected %>
  </p> 

  <p>
    <%= f.label 'Wyświetleń' %><br />
    <%= f.text_field :views %>
  </p>

  <p>
    <%= f.label 'Miasto' %><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label 'Koszt całkowity' %><br />
    <%= f.text_field :total_cost %>
  </p>

  <p>
    <%= f.label 'Koszt' %><br />
    <%= f.text_field :upkeep_cost %>
  </p>

  <p>
    <%= f.label 'Kategoria' %><br />
    <%= f.select :category_id, Category.all.map { |c| [c.name, c.id]} %>
  </p>

  <p>
    <%= f.label 'Budżet' %><br />
    <%= f.select :budget_id, Budget.all.map { |c| [c.name, c.id]} %>
  </p>

  <p>
    <%= f.label 'Użytkownik' %><br />
    <%= f.select :user_id, User.all.map { |c| [c.name, c.id]} %>
  </p>

  <p>
    <%= f.label 'Pełny opis' %><br />
    <%= f.text_area :full_description %>
  </p>

  <p>
    <%= f.label 'Uzasadnienie realizacji projektu' %><br />
    <%= f.text_area :substantiation %>
  </p>

  <p>
    <%= f.label 'Strona Zewnętrzna' %><br />
    <%= f.text_field :website_url %>
  </p>

  <p>
    <%= f.label 'Strona Facebook' %><br />
    <%= f.text_field :facebook_profile %>
  </p>

  <p>
    <%= f.label 'Link do filmu na You Tube' %><br />
    <%= f.text_field :youtube_url %>
  </p>

  <p>
    <%= f.label 'Email do projektodawcy' %><br />
    <%= f.text_field :originator_email %>
  </p>

  <p>
    <%= f.label 'Liczba głosów w preselekcji' %><br />
    <%= f.text_field :preselection_vote_count %>
  </p>

  <p>
    <%= f.label 'Urząd realizujący' %><br />
    <%= f.text_field :office %>
  </p>

  <p>
    <%= f.label 'Wydział realizujący' %><br />
    <%= f.text_field :department %>
  </p>

  <p>
    <%= f.label 'Grupa docelowa' %><br />
    <%= f.text_field :target_group %>
  </p>

  <p>
    <%= f.label 'Uwagi miasta do projektu' %><br />
    <%= f.text_area :note %>
  </p>

  <p>
    <%= f.submit "Zmień" %>
  </p>
<% end %>

<%= link_to 'Powrót', show_causes_path %>