<h1>Edycja Kategorii</h1>

<% form_for(@category, :url => update_category_path(@category), :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :marker %>
    <span class="hint">Optymalny rozmiar grafiki to przedział od 16x16 do 32x32 (pixeli) w formacie PNG)</span></br>
    <%= image_tag(@category.marker_url) if @category.marker? %>
    <%= f.file_field :marker %>
    <%= f.hidden_field :marker_cache %>
  </p>

  <p>
    <%= f.submit "Zmień" %>
  </p>
<% end %>

<%= link_to 'Powrót', show_categories_path %>