<h1>Tworzenie Kategorii</h1>

<% form_for(@category, :url => create_category_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Utwórz" %>
  </p>
<% end %>

<%= link_to 'Powrót', show_categories_path %>