<h1>Tworzenie Kategorii</h1>

<% form_for(@category, :url => create_category_path, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :marker %><br />
    <%= image_tag(@category.marker_url) if @category.marker? %>
    <%= f.file_field :marker %>
    <%= f.hidden_field :marker_cache %>
  </p>

  <p>
    <%= f.submit "Utwórz" %>
  </p>
<% end %>

<%= link_to 'Powrót', show_categories_path %>