<h2>Lista budżetów (<%=h @budgets2.empty? ? "Brak budżetów" : @budgets2.size %>)</h2>

 <a href="javascript:;" id="createBudgetButton" class="lnkEscrever">Utwórz budżet</a>

<% form_tag show_budgets_path, :method => :get, :style => 'margin-top:10px;' do %>
	<%= label_tag "Autor" %>
	<%= text_field_tag (:author, params[:author], :size => 18) %>
	<%= label_tag "Nazwa" %>
	<%= text_field_tag (:name, params[:name], :size => 18) %>
	<%= label_tag "Typ" %>
	<%= text_field_tag (:type, params[:type], :size => 18) %>

	<%= submit_tag 'Filtruj' %>
<% end %>
<br/>

<% unless @budgets2.empty? %><span class="break"><a href= "/reports/budgets.csv">(Eksport do Excela)</a></span><% end %>


<%= render :partial => 'budgets_table' %>

<script>

var editBudget = function(id){
	$.openPopupLayer({
		name: 'mdlBudget',
		width: 710,
		url: '/budgets/show/'+id,
		success: function() {
			$('#newCauseForm input[name=name]').focus();
			$("#left").height("1500px");
			$("#inner").height("1500px");
			$(window).resize();
		}
	});
}

var createBudget = function(){
	$.openPopupLayer({
		name: 'mdlBudget',
		width: 710,
		url: '/budgets/new',
		success: function() {
			$('#newCauseForm input[name=name]').focus();
			$("#left").height("1500px");
			$("#inner").height("1500px");
			$(window).resize();
		}
	});
}

$(document).ready(function()
{
	$('#createBudgetButton').bind('click', function() {
		createBudget();
	});
});
</script>