<div id="mdlBudget" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer();">close</a>
    <div class="ctm">
    <div class="mdlPin"><!-- --></div>
    <h2>Uzupełnij</h2> 
    <div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
    <div class="cml">
        <div class="cmr">
            <div class="cmm">
                <div class="mdlIn escrever">
                    <h3>Formularz edycji budżetu</h3>
                
                    <fieldset id="newCauseForm" class="mb15">
                    
                        <label for="name">Nazwa</label>
                        <input id="name" name="name" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.name %>"/>

                        <div style="clear: both;" />

                        <label for="type">Typ</label>
                        <input id="type" name="type" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.type %>" />

                        <div style="clear: both;" />

                        <label for="from">Od</label>
                        <input id="from" name="from" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.from %>" />

                        <div style="clear: both;" />

                        <label for="to">Do</label>
                        <input id="to" name="to" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.to %>" />

                        <div style="clear: both;" />

                        <label for="value">Kwota</label>
                        <input id="value" name="value" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.value %>" />

                        <div style="clear: both;" />

                        <label for="participants_count">Liczba uczestników</label>
                        <input id="participants_count" name="participants_count" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.participants_count %>" />

                        <div style="clear: both;" />

                      <span class="break"><!-- --></span>
                    </fieldset>
                
                    <div class="boxBottom">
                        <a href="javascript:;" class="btn fl postar"><%= @action %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
    <div class="pntDwn"><!-- --></div>
</div>