<div id="mdlBudget" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer();">close</a>
    <div class="ctm budget-modal">
        <h2>Uzupełnij</h2> 
    </div>
    <div class="cml budget-modal">
        <div class="cmr budget-modal">
            <div class="cmm">
                <div class="mdlIn escrever">
                    <h3>Formularz edycji budżetu</h3>
                
                    <fieldset id="newCauseForm" class="mb15">
                    
                        <label for="name">Nazwa</label>
                        <input id="name" name="name" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.name %>"/>

                        <div style="clear: both;" />

                        <label for="type">Typ</label>
                        <input id="type" name="type" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.type %>" />

                        <div style="clear: both;" />

                        <label for="from">Od</label>
                        <input id="from" name="from" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.from %>" />

                        <div style="clear: both;" />

                        <label for="to">Do</label>
                        <input id="to" name="to" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.to %>" />

                        <div style="clear: both;" />

                        <label for="value">Kwota</label>
                        <input id="value" name="value" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.value %>" />

                        <div style="clear: both;" />

                        <label for="participants_count">Liczba uczestników</label>
                        <input id="participants_count" name="participants_count" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.participants_count %>" />

                        <div style="clear: both;" />

                        <label for="creation_date">Data utworzenia </label>
                        <input id="creation_date" name="creation_date" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.creation_date %>" />

                        <div style="clear: both;" />

                        <label for="city">Miasto</label>
                        <input id="city" name="city" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.city %>" />

                        <div style="clear: both;" />

                        <label for="initiator">Założyciel</label>
                        <input id="initiator" name="initiator" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.initiator %>" />

                        <div style="clear: both;" />

                        <label for="reason">Dlaczego zdecydowano się na wprowadzenie </label>
                        <input id="reason" name="reason" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.reason %>" />

                        <div style="clear: both;" />

                        <label for="decision">W jaki sposób mieszkańcy podejmowali decyzję? </label>
                        <input id="decision" name="decision" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.decision %>" />

                        <div style="clear: both;" />

                        <label for="evaluation">W jaki sposób przeprowadzano ewaluację projektu? </label>
                        <input id="evaluation" name="evaluation" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.evaluation %>" />

                        <div style="clear: both;" />

                        <label for="recomendation">Rekomendacja wprowadzenia budżetu partycypacyjnego </label>
                        <input id="recomendation" name="recomendation" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.recomendation %>" />

                        <div style="clear: both;" />

                        <label for="edit_number">Numer edycji budżetu partycypacyjnego </label>
                        <input id="edit_number" name="edit_number" type="text" style="width:463px;float:left;" maxlength="80" value="<%= @budget.edit_number %>" />

                        <div style="clear: both;" />

                      <span class="break"><!-- --></span>
                    </fieldset>
                
                    <div class="boxBottom">
                        <a href="javascript:;" class="btn fl postar"><%= @action %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
    <div class="pntDwn"><!-- --></div>
</div>
