<p>Imie, Nazwisko: <%=h @data[:name]%></p>
<p>Numer telefonu: <%=h @data[:telefone] %></p>
<p>Adres email: <%=h @data[:email] %></p>
<p>Temat: <%=h @data[:assunto] %></p>
<p><%=h @data[:mensagem] %></p>
