<div id="new_top">

  <div id="intro_trigger">
    <a href="#" id="help" onclick="javascript:introJs().setOptions({
          nextLabel: 'Dalej', prevLabel: 'Wstecz', skipLabel: 'Przerwij', doneLabel: 'Zakończ'}).start();">Pomoc</a>
  </div>

  <%= image_tag 'top/separador.png' %>

  <div id="login" data-step="2" data-intro="Możesz zalogować się aby dodawać komentarze i projekty." >
    <% if logged_user? -%>
      <%= user_image(current_user, 20, 20) %>
      <%= link_to image_tag('top/logout.png', :style => "padding-top: 8px"), logout_path %>
      <%= current_user.name %>
    <% else -%> 
      <a href="javascript:;" id="loginButton" class="lnkEscrever"><%= image_tag('top/key_trans.png', :style => "padding-top: 4px") %> Logowanie</a>
    <% end -%> 
  </div>

  <%= image_tag 'top/separador.png' %>

  <div id="filtro" data-step="3" data-intro="Możesz filtrować Projekty po kategorii." >
    <a href="#" id="filtroButton">Filtr</a>
  </div>

  <%= image_tag 'top/separador.png' %>

  <div id="bairros" data-step="4" data-intro="Ogranicz wyszukiwanie do danej dzielnicy" >
    <a href="#" id="bairroButton">Lokalizacje</a>
  </div>

  <%= image_tag 'top/separador.png' %>

  <div id="busca" data-step="5" data-intro="Przeszukaj tytuły opisy i lokalizacje po wpisanym tekście" >
    <%= render :partial => 'application/search_box' %>
  </div>

</div>

<% if @categories %>
<div id="top_categories">
	<% @categories.each_with_index do |category, idx| -%>
		<% if idx % 3 == 0 -%>
		<ul class="comboLst">
		<% end -%>
      <li>
        <a title="<%= category.name %>" href="javascript:;" alt="<%= category.id %>">
          <img src="<%= category.marker.url %>" style="width:30px;height:30px;margin: 1px;position: relative;float: left;"/>
        </a>
      </li>
		<% if (idx + 1) % 3 == 0 -%>
		</ul>
		<% end -%>
	<% end -%>
</div>
<% end -%>

<div id="comboDistricts" class="combo-content hidden">
  <div class="bgr">
    <div class="scroll-pane">
      <ul class="comboLst">

        <li><a id="filter_reset" href="javascript:;">Resetuj</a></li>

        <% @locations.each do |city, causes| %>
          <li>
            <a class="f_city" href="javascript:;"><%= city %></a>
            <% if not causes.find { |c| c.district.empty? } %>
            <span class="f_toggle" href="javascript:;">+</span>
            <% end %>

            <ul>
            <% causes.each do |cause| %>
            <% unless cause.district.empty? %>
            <li><a class="f_district" href="javascript:;"><%= cause.district %></a></li>
            <% end %>
            <% end %>
            </ul>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>


